<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Api - Condominios</title>
</head>
<body>
    <h1>API Condominios</h1>
    <h2>Metodos disponibles: </h2>
    <section>
        <h1>Dueño</h1>
        <ol>
            <li>GET: https://api-condo.herokuapp.com/api/owner/list</li>
            <li>GEThttps://api-condo.herokuapp.com/api/owner/list/&lt;rut&gt;</li>
        </ol>
    </section>
    <section>
        <h1>Deuda</h1>
        <ol>
            <li>GET https://api-condo.herokuapp.com/api/owner/deuda/&lt;rut&gt;</li>
            <li> GET https://api-condo.herokuapp.com/api/owner/deuda/&lt;rut&gt;/historial</li>
        </ol> 
    </section>
    <section>
        <h1>Condominios</h1>
        <ol>
            <li>GET https://api-condo.herokuapp.com/api/condo/list</li>
        </ol>
    </section>
    <section>
        <h1>Casas</h1>
        <ol>
            <li>GET https://api-condo.herokuapp.com/api/house/list</li>
            <li>GET https://api-condo.herokuapp.com/api/house/list/&lt;id&gt;</li>
        </ol>
    </section>
</body>
</html>