<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Api - Condominios</title>
</head>
<body>
    <h1>API Condominios</h1>
    <h2>Metodos disponibles: </h2>
    <section>
        <h1>Dueño</h1>
        <ol>
            <li>GET: http://localhost:3000/api/owner/list</li>
            <li>GET http://localhost:3000/api/owner/list/ </li>
        </ol>
    </section>
    <section>
        <h1>Deuda</h1>
        <ol>
            <li>GET http://localhost:3000/api/owner/deuda/19.781.845-K </li>
            <li> GET http://localhost:3000/api/owner/deuda/19.781.845-K/historial</li>
        </ol> 
    </section>
    <section>
        <h1>Condominios</h1>
        <ol>
            <li>GET http://localhost:3000/api/condo/list</li>
        </ol>
    </section>
    <section>
        <h1>Casas</h1>
        <ol>
            <li>GET http://localhost:3000/api/house/list</li>
            <li>GET http://localhost:3000/api/house/list/1</li>
        </ol>
    </section>
</body>
</html>